%table
  %tbody
    %tr
      %td{"class" => "welcome"} Welcome to the Health Map
    %tr
      %td &nbsp;
    %tr
      %td &nbsp; 
    = high_chart("my_id", @h)
    #chart
      %button.btn{:onclick => "hello()"}
        Update
      %p
    %tr
      %td Our registered users are listed below:      
    - @users.each do |user|
      %tr
        %td
          User: #{link_to user.name, user}